.flex-container{display: flex;
    background-image: url(https://images.surferseo.art/87c3d1dd-185a-42d1-8c90-f7645ef18a52.jpeg);
    color: rgb(254, 205, 11);
    height: 100px;
flex-direction: row;
justify-content: space-around}
    .flex-item{
display:flex;
text-align: center;

}
main{    display: block;
    text-align: center;
font-size: 30px;
background-image: linear-gradient(rgb(40, 0, 92), rgb(40, 0, 92));
color: rgb(255, 170, 12);
}

body{ background-color:rgb(40, 0, 92);
margin: 0px;
padding: 0px;

}
footer{
    display: block;
    text-align: center;
    margin-top: 0px;
    background-image: linear-gradient(rgb(40, 0, 92), rgb(228, 96, 25));
    color: rgb(255, 170, 12);
    padding: 300px;   
}
.btn{margin-left: 20px;
    padding: 20px 40px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid gold;
    border-radius: 8px;
    background-size: 250%;
    transition: .6s;
}
    .btn1{
        background-image: linear-gradient(to left, rgb(255, 0, 0), rgb(255, 148, 7), rgb(238, 0, 0));
    }
a{color: gold;
font-size: 17px;}
.btn:hover{
    background-position: right;
}